$background:#fafafa;
$borderColor:rgb(217, 214, 214);
$global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif;
@mixin flexbox($direction){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

.complete_login_page{
    
    font-family: $global-font-family;
    @include flexbox(column);
    background: $background;
    width: 100vw;
    min-height: 100vh;
    .main_login_wrapper{
        @include flexbox(row);
        margin-bottom: 3rem;
        .image_container{
            position: relative;
            margin-top: 2rem;
            .background_picture{
                width: 29rem;
            }
            .changing_image{
                position: absolute;
                right: 3.5rem;
                top: 1.5rem;
                opacity: 1;
                -webkit-transition: opacity 1.5s ease-in;
                transition: opacity 1.5s ease-in;
                z-index: 2;
    
            }
            @media screen and (max-width: 875px) {
                display: none;
            }
        }
        .login_container{
    
            display: flex;
            flex-direction: column;
            width: 22.5rem;
            margin-left:1rem;
            .form_container{
                @include flexbox(column);
                background-color: white;
                border: 1px solid $borderColor;
                border-width: thin;
                height: 26rem;
                .insta_logo img{
                    width: 12rem;
                    cursor: pointer;
                }
                .main_form{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    & input{
                        background-color: $background;
                        width: 17rem;
                        height: 2rem;
                        margin-top: .7rem;
                        padding: 0 8px;
                        border-radius: 3px;
                        outline: none;
                        border: solid 1px $borderColor;
                        &:focus{
                            border-color: rgb(147, 146, 146);
                        }
                        &::placeholder{
                            color: rgb(152, 152, 152);
                            font-size: 12px;
                        }  
                    }
                    .show_password{
                        position:absolute;
                        top: 4.0rem;
                        left: 15rem;
                        z-index: 2;
                        border: none;
                        background: none;
                        font-weight: bold;
                    }
                    & .login_btn{
                        background-color: #c0e1fd;
                        margin-top: 1rem;
                        height: 2rem;
                        border-radius:4px;
                        border: none;
                        color: white;
                        font-size: 1rem;
                        font-weight: bold;
                        &:enabled{
                            background-color: #3695f6;
                            cursor: pointer;
                        }
                    }
                }
                .horizontal_OR{
                    h4 {
                        display: flex;
                        opacity: 0.3;
                        &::before,
                        &::after{
                            content: "";
                            opacity: 0.5;
                            width: 7rem;
                            flex: 1 1;
                            border-bottom: 1px solid;
                            margin-left: 1rem;
                            margin-right: 1rem;
                            margin-bottom: 8px;
                          
                        }
                    }
                }
                .facebook_link{
                    @include flexbox(row);
                    cursor: pointer;
                    color:#263d6f;
                    font-weight: bold;
                    img{
                        width: 1rem;
                        margin-right: .5rem;
                    }
                }
                .forgot_password{
                    color: #4c6d92;
                    font-size: 12px;
                    margin-top: .5rem;
                    cursor: pointer;
                    font-weight: 600;
                }
                @media screen and (max-width: 450px) {
                    border: none;
                    width: 100%;
                    background-color: $background;
                    margin-bottom: 1.5rem;
                }
            }
            .form_signup_container{
                @extend .form_container;
                margin-top: 1rem;
                height: 3rem;
                button{
                    background: none;
                    border: none;
                    font-size: 1rem;
                    color: #3695f6;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            .getApp{
                text-align: center
            }
            .download_btn{
                @include flexbox(row);
                img{
                    width: 9rem;
                    margin-left: .5rem;
                    cursor: pointer;
                }
            }
        }
    }
    .login_footer{
        @include flexbox(column);
        margin: 0 0 80px 0;
        .footer{
            @include flexbox(row);
        }
        .footer_data{
            a{

                color:#8f8f8f;
                text-decoration: none;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
}
