
@mixin flexbox($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}
@mixin blueButtonCss($width){
  border: 1px solid transparent;
  width: $width;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  background-color: $global-facebook-color;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

$page-bg-color: #f8f8f8;
$border-color: #d2d2d2;
$primary-font-color: rgba(var(--f52, 142, 142, 142), 1);
$secondary-font-color: rgba(var(--i1d, 38, 38, 38), 1);
$global-facebook-color: rgba(var(--d69, 0, 149, 246), 1);
$global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif;

div.signUpPageWrapper {
  @include flexbox(column);
  font-family: $global-font-family;
  background-color: $page-bg-color; //need to change this color, just for testing purpose
  min-width: 390px;
  padding: 30px 0;
  div.signUpFormWrapper {
    @include flexbox(column);
    img.signUpLogo {
      margin: 35px 0 15px 0;
      width: 170px;
    }
    p.signUpTitle {
      margin: 0 40px 20px 40px;
      text-align: center;
      color: $primary-font-color;
      font-size: 17px;
      font-weight: 600;
      line-height: 20px;
    }
    button.logInWithFacebookButton {
      span {
        margin: 0px 10px;
      }
      @include blueButtonCss(73%);
    }
    div.strike {
      @include flexbox(column);
      font-size: 13px;
      font-weight: 600;
      margin: 18px 0;
      width: 73%;
      color: $primary-font-color;
      & > span {
        @include flexbox(row);
        width: 99%;
        justify-content: space-between;
        &::before,
        &::after {
          content: "";
          height: 1px;
          background-color: #c9c9c9;
          display: inline-block;
          width: 42%;
        }
      }
    }
    .signUpForm {
      @include flexbox(column);
      width: 100%;
      div.inputWrapper{
        @include flexbox(row);
        width: 73%;
        background-color: $page-bg-color;
        border: 1px solid $border-color;
        margin: 4px 0 4px 0;
        input {
          width: 100%;
          font-size: 16px;
          padding: 8px 8px 8px 8px;
          text-overflow: ellipsis;
          background-color: $page-bg-color;
          border: none;
          border-radius: 2px;
          &::placeholder {
            color: rgb(152, 152, 152);
            font-size: 12px;
          }
          &:focus {
            outline: none;
          }
        }
        .validationIcon{
          text-align: center;
          width: 15%;
          color: rgb(201, 0, 0);
        }
      }
    }
    div.info {
      width: 73%;
      display: block;
      font-size: 12px;
      margin: 10px 40px;
      line-height: 16px;
      text-align: center;
      color: $primary-font-color;
    }
    .signUpButton {
      @include blueButtonCss(73%);
      margin: 20px 0 30px 0;
    }
  }
  div.logInOption {
    @include flexbox(row);
    height: 35px;
    font-size: 14px;
    background-color: white;
    color: $secondary-font-color;
    span {
      margin: 0 5px;
      color: $global-facebook-color;
    }
  }
  div.appDownloadOptions {
    @include flexbox(column);
    font-size: 14px;
    color: $secondary-font-color;
    margin: 20px 0;
    div.downloadLinkWrapper {
      @include flexbox(row);
      margin: 20px;
      width: 85%;
      justify-content: space-evenly;
      a{
        width: 100%;
        height: 100%;
        cursor: pointer;
        img {
          width: 90%;
        }
      }
    }
  }
  .login_footer{
    @include flexbox(column);
    margin: 0 0 80px 0;
    .footer{
        @include flexbox(row);
        flex-wrap: wrap;
    }
    .footer_data{
        a{
            color:#8f8f8f;
            text-decoration: none;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 13px;
            font-weight: 500;
        }
    }
  }
}
.w-25 {
  width: 350px;
  min-width: 350px;
}
.commonContainer {
  border: 1px solid #d2d2d2;
  background-color: white;
  margin: 5px 0;
  padding: 15px 10px;
}
